* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  --primary-color: hsl(232, 90%, 64%);
  --white: hsl(2, 0%, 100%);
  --black: hsl(0, 0%, 11%);
}

.text-md {
  font-size: 2.2rem;
  line-height: 3.3rem;
}

.button {
  cursor: pointer;
}

.button:hover {
  transform: scale(1.01);
  opacity: 0.8;
}

.button--primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: var(--white);
}
